*,
*:before,
*:after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.anchorlinks{
  text-align: center;
  background: black;
  padding: 24px;
  }
.header li{
  display: inline-block;
  width:120px;
}
.header li a{
  text-decoration: none;
  color:green;
  font-weight: bold;
  font-size: 18px;
}
.header li a:hover{
  border:2px solid green;
  padding:8px;
}
         .showcase{
           background:url('img1.jpeg');
           min-height:400px;
             text-align: center;
           font-family:sans-serif;
      }
      .showcase  h2 {
        padding-top:200px;
        font-weight: bold;
        font-size: 26px;
        color:rgb(16, 55, 4);
      }
    .main {
      margin-top:40px;
      overflow: hidden;
     min-height:400px;
    }
    .title {
      color :green;
      text-align:center;
      font-family:sans-serif;
      font-size:25px;
      font-weight: bold;
      }
     .container{
      width:422px;
        float:left;
      padding:22px;
      border:1px solid green;
      margin-top:15px;
      margin-left:20px;
        text-align: center;
      }
      .container  img{
      border-radius: 50%;
    }
    .container-fluid {
    margin-top:20px;
    margin-left:22px;
    overflow: hidden;
    }
    .container-fluid .left{
      width:642px;
      border:1px solid green;
      padding:20px;
      float:left;
    }
      .container-fluid .right{
      width:642px;
      padding:20px;
      margin-left:22px;
      float:left;
      border:1px solid green;
    }
footer{
  background: grey;
  margin-top:12px;
  padding:25px;
  text-align: center;
  color:green;
  font-weight:bold;
  font-size:20px;
  }
